<div id="<%= dom_id ruchika %>">
  <p>
    <strong>Title:</strong>
    <%= ruchika.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= ruchika.body %>
  </p>

  <%# <p>
    <strong>Image:</strong> %>
    <%#= ruchika.image %>
    <%# <img src= "<%= ruchika.image %>
  <%# </p> %>

    <button><%= link_to "pdf_download" ,ruchikas_path(format:'pdf') %></button>
</div>
